div{
	background-color:yellow;
}
div#modular1, div#modular2, div#modular3, div#modular4, div#modular5{
	margin:10px 300px 10px 300px;
	width:1000px ;
}
div#help{
	float:left;
	height:50px;
	width:700px;
	background:silver;
}
div#login{
	float:right;
	height:50px ;
	width:300px ;
	background:silver;
}
div#memetao{
	position:absolute;
	top:70px;
	left:308px;
	width:200px;
	height:100px;
	background:red;
}
div#search{
	position:absolute;
	top:70px;
	left:508px;
	width:500px;
	height:100px;
	background:green;
}
div#release{
	position:absolute;
	top:70px;
	left:1008px;
	width:300px;
	height:100px;
	background:red;
}
div#goodsnews{
	position:absolute;
	top:180px;
	left:308px;
	width:200px;
	height:100px;
	background:blue;
}
div#tag{
	position:absolute;
	top:180px;
	left:508px;
	width:800px;
	height:100px;
	background:black;
}
div#newgoods{
	position:absolute;
	top:290px;
	left:308px;
	width:250px;
	height:600px;
	background:gray;
}
div#discount{
	position:absolute;
	top:290px;
	left:558px;
	width:250px;
	height:600px;
	background:silver;
}
div#shopping{
	position:absolute;
	top:290px;
	left:808px;
	width:250px;
	height:600px;
	background:purple;
}
div#myneed{
	position:absolute;
	top:290px;
	left:1058px;
	width:250px;
	height:600px;
	background:maroon;
}
div#link{
	position:absolute;
	top:900px;
	left:308px;
	width:1000px;
	height:50px;
	background:teal;
}