div#back
{
position:relative;
left:300px;
top:10px;
}
div#login
{
position:relative;
right:300px;
top:-800px;
}
div#regist
{
position:relative;
right:300px;
top:-800px;
}
div#adm
{
position:relative;
right:300px;
top:-800px;
}
div#mod_password
{
position:relative;
right:300px;
top:-800px;
}
div#del
{
position:relative;
right:300px;
top:-800px;
}
div#main
{
position:relative;
right:300px;
top:-800px;
}
div#mod
{
position:relative;
right:300px;
top:-800px;
}
div#goods_release
{
position:relative;
right:300px;
top:-800px;
}
div#account_manage
{
position:relative;
right:300px;
top:-800px;
}
div#personal_information
{
position:relative;
right:100px;
top:-1100px;
}
div#p_i_show
{
position:relative;
right:500px;
top:-800px;
}
div#mod_personal
{
position:relative;
right:-100px;
top:-1000px;
}
div#mod_person
{
position:relative;
right:300px;
top:-800px;
}
div#goods_show
{
position:relative;
right:-50px;
top:-800px;
}
div#goods_detail
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_more
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_search
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_book
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_clothes
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_decoration
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_entertainment
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_electron
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_fiction
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_daily
{
position:relative;
right:-350px;
top:-800px;
}
div#goods_others
{
position:relative;
right:-350px;
top:-800px;
}
div#need_show
{
position:relative;
right:-50px;
top:-800px;
}
div#need_mod
{
position:relative;
right:-300px;
top:-800px;
}
div#need_mod_chk
{
position:relative;
right:300px;
top:-800px;
}
div#need_delete
{
position:relative;
right:-300px;
top:-800px;
}
div#goods_delete
{
position:relative;
right:-300px;
top:-800px;
}
div#goods_mod
{
position:relative;
right:-300px;
top:-800px;
}
div#goods_mod_chk
{
position:relative;
right:300px;
top:-800px;
}
div#message
{
position:relative;
right:-350px;
top:-800px;
}
div#adm_message
{
position:relative;
right:300px;
top:-800px;
}